*
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:cornsilk;
}

header
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

main
{
    margin-top: 25px;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 25px;
    height: 1000px;
}

footer
{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}